body {
  background: #A1F299;
  margin: 0;
  padding: 0;

}
h1 {
  text-align: center;
  font-size: 30px;
}
h2{
  text-align: center;
  font-size: 30px;
}
h3{
  text-align: center;
  font-size: 30px;
}
h4{
  text-align: left;
  font-size: 30px;
  font-weight:100;
  font-size-adjust:auto;
}
h5{
  text-align: left;
  font-size: 30px;
  font-weight:100;
  font-size-adjust:auto;
}
p{
  text-align: center;
  font-size: 20px;
  font-style: normal;
}
.beneficos{
  text-align: left;
  font-style: normal;
  font-weight: bold;
}
.Receita{
  text-align: left;
  font-style: normal;
  font-weight: bold;
}
.Modo{
  text-align: left;
  font-style: normal;
  font-weight: bold;
}
.caixa1 {
  position: absolute;
  background: #ADFF2F;
  width: 200px;
  height: 200px;
  right: 0px;
  bottom:0;
}
.caixa2 {
  position: absolute;
  background: #ADFF2F;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 205px;
}

.caixa3 {
  position: absolute;
  background: #ADFF2F;
  width: 200px;
  height: 200px;
  right: 205px;
  bottom:0;
}
.menuPrincipal{
   position: absolute;
   width: 25%;
   height: 45px;
   background:#3FCA13;
   top: 0;
   left: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
li a:hover {
  color: rgb(255, 255, 255);
  background: black;
}
#Bacate {
   width: 50%;
}
caixaBacate {
    position: absolute;
    top: 45px;
    background: #7CFC00;
    width: 90%;
    height: 180px;
    margin: 20px;
    border-color: #32CD32;
    border-width: 20px;
    border-style: dashed;
    padding: 20px;
    display: flex;
    justify-content: left;
}
caixaBacate2 {
  position: absolute;
  top: 100px;
  right: 0;
  width: 100px;
  height: 180px;
  display: flex;
  justify-content: right;
}
.caixaBacate3 {
  position: absolute;
  top: 300px;
  right: 500px;
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
}
.caixaAbacate{
  position: absolute;
  top: 150px;
  right: 300px;
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
}
.caixaVitamina{
  position: absolute;
  top: 150px;
  right: 320px;
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
}
.rodape {
position: absolute;
bottom: 0;
width: 100%;
height: 45px;
background: #3FCA13;
color: black;
display: flex;
justify-content: center;
}
.rodape2{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: #3FCA13;
  color: black;
  display: flex;
  justify-content: center;
}
.rodape3{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: #3FCA13;
  color: black;
  display: flex;
  justify-content: center;

}

.conteudo {
  position: absolute;
  top: 45px;
}
